.chat-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .window {
    flex: 1;
    display: flex;
    flex-direction: column;

    .window__filters {
      background: $night;
    }

    .window__messages {
      background: $white;
      overflow-y: scroll;
      padding: $s-size;
      border-top: 1px solid $fog;
      height: calc(100vh - 216px);
    }

    .window__message-box {
      background: $fog;
    }
  }

  .sidebar {
    display: flex;
    height: $navbar-height;
    order: -1;

    .sidebar__account {
      background: $dark-slate-gray;
      flex: 1;
    }

    .sidebar__users {
      display: none;
    }
  }

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;

    .window {
      flex: 9;

      .window__messages {
        flex: 1;
        height: unset;
      }
    }

    .sidebar {
      flex: 3;
      order: 2;
      height: 100%;
      flex-direction: column;

      .sidebar__account {
        height: $navbar-height;
        flex: unset;
      }

      .sidebar__users {
        flex: 1;
        background: $gainsboro;
        overflow-y: scroll;
        display: block;
      }
    }
  }
}
