.chat-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .window {
    flex: 1;
    background: yellow;
    display: flex;
    flex-direction: column;

    .window__filters {
      background: $night;
    }

    .window__messages {
      flex: 1;
      background: white;
      overflow-y: scroll;
      padding: $s-size;
      border-top: 1px solid $fog;
    }

    .window__message-box {
      background: whitesmoke;
    }
  }

  .sidebar {
    height: $navbar-height;
    order: -1;
    background: red;

    .sidebar__profile-container {
    }

    .sidebar__users-container {
    }

    .sidebar__exit-container {
    }
  }

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;

    .window {
      flex: 9;
    }

    .sidebar {
      flex: 3;
      order: 2;
      height: 100%;
    }
  }
}
